name: Yocto Build
on: workflow_dispatch
jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          clean: false
          submodules: 'recursive'

      - name: Build
        timeout-minutes: 600
        run: ./build.sh

