name: Yocto Build
on: workflow_dispatch
jobs:
  build:
    runs-on: self-hosted
    container: yocto-spi-driver-image

    steps:
      - name: Apt install
      - run: |
        sudo apt-get update && DEBIAN_FRONTEND="noninteractive" TZ="America/Los_Angeles" \
        sudo apt-get install -y --no-install-recommends build-essential chrpath cpio debianutils \
        diffstat file gawk gcc git iputils-ping libacl1 locales python3 python3-git python3-jinja2 \ 
        python3-pexpect python3-pip python3-subunit socat texinfo unzip wget xz-utils zstd make

      - name: Checkout
      - uses: actions/checkout@v4
        with:
          clean: false
          submodules: 'recursive'

      - name: Little test
      - run: find .


      # - name: Yocto build
      # - timeout-minutes: 600
      # - run: |
      #     docker run --rm \
      #       -v $SSH_AUTH_SOCK:/ssh-agent -e SSH_AUTH_SOCK=/ssh-agent \
      #       -e GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no" \
      #       -v ${GITHUB_WORKSPACE}:${GITHUB_WORKSPACE} \
      #       cuaesd/aesd-autotest:24-assignment6-yocto \
      #       --workdir=${GITHUB_WORKSPACE} \
      #       ./build.sh

